pkgbase = linux-ice
	pkgdesc = The Linux-ice kernel and modules
	pkgver = 4.0.6
	pkgrel = 1
	url = http://www.kernel.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.0.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.0.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.0.6.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.0.6.sign
	source = config.bz2
	source = config.x86_64.bz2
	source = linux.preset
	source = change-default-console-loglevel.patch
	source = http://tuxonice.net/downloads/all/tuxonice-for-linux-4.0.5-2015-06-17.patch.bz2
	sha256sums = 0f2f7d44979bc8f71c4fc5d3308c03499c26a824dd311fdf6eef4dee0d7d5991
	sha256sums = SKIP
	sha256sums = d65b0bc24bf49cb333375f7c301c28b05a554bc03a5fc4ed751b4f05bc13e97d
	sha256sums = SKIP
	sha256sums = 0c7d4200f3e75051c5aee69f87f3d16f8522869b6e4da6690a34587958ec8b4c
	sha256sums = f2905ebb9c7fb7deb4852aec83fbf518b879c992252b3e370c5e477f8275d8c3
	sha256sums = f0d90e756f14533ee67afda280500511a62465b4f76adcc5effa95a40045179c
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99
	sha256sums = 9296692f3e2143039a781404ba761ff43bd4e51f9d1bd4ac295357e98ebbec80

pkgname = linux-ice
	pkgdesc = The Linux-ice kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	provides = kernel26-ice=4.0.6
	provides = linux=4.0.6
	conflicts = kernel26-ice
	replaces = kernel26-ice
	backup = etc/mkinitcpio.d/linux-ice.preset

pkgname = linux-ice-headers
	pkgdesc = Header files and scripts for building modules for Linux-ice kernel
	provides = kernel26-ice-headers=4.0.6
	provides = linux-headers=4.0.6
	conflicts = kernel26-ice-headers
	replaces = kernel26-ice-headers

pkgname = linux-ice-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-ice kernel
	provides = kernel26-ice-docs=4.0.6
	provides = linux-docs=4.0.6
	conflicts = kernel26-ice-docs
	replaces = kernel26-ice-docs

